<div class="conatainer-fluid d-flex full">
 <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/Login/house-1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Buy,Rent,or Sell your property easily</h1>
          <h6>Agreat Platform to buy, sell or even rent your properties without any commission</h6>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/Login/house-3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>We make it easy for tenants and landlords</h1>
          <h6>Whether it's selling your current home, getting financing, or buying a new home, we make it easy and efficient.</h6>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/Login/house-4.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Just like Virtual home tour</h1>
          <h6>We provide you the most relevent and trustworthy owners and tenants</h6>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/Login/house-2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
        <h1>Scheduling Appointments,Messenging and being In Touch</h1>
        <h6> We provide you the freedom to be in touch with your landlords and tenants and Grab the Best Beal for you</h6>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>   
  <div class="login">
    <app-login></app-login>
  </div>
</div>
