<div *ngIf="isLoading">
    <div class="wrapperind center">
      <div class="inner">
        <mat-progress-spinner
          value-="50"
          mode="indeterminate"
        ></mat-progress-spinner>
      </div>
    </div>
</div>

<div class="container" *ngIf="!isLoading">
    <div class="mapInfo my-4">
        <div class="header">
            <img src="../../assets/map.png" alt="">
            <h1>View Property</h1> 
        </div>

      <div (click) = "goToProperty()" class="button"><button class="btn">Go Back To Property</button></div>
    </div>

    <div class="map" id="map"></div>
</div>
